@import "tailwindcss";


@keyframes piano {
  0% { transform: translateY(0); }
  50% { transform: translateY(-6px); }
  100% { transform: translateY(0); }
}

.animate-piano {
  animation: piano 1.4s ease-in-out infinite;
}
.delay-1 { animation-delay: 0s; }
.delay-2 { animation-delay: .1s; }
.delay-3 { animation-delay: .2s; }
.delay-4 { animation-delay: .3s; }
.delay-5 { animation-delay: .4s; }
